*{
  box-sizing: border-box;
  margin: auto 0;
  user-select: none;
}
#background{
  position: fixed;
  z-index: -1;
  top: 0%;left: 0%;
  width: 100%;
  height: 100%;
  background-image: url(https://mdn.alipayobjects.com/huamei_7uahnr/afts/img/A*lkAoRbywo0oAAAAAAAAAAAAADrJ8AQ/original);
  background-size: 100% 100%;
  /* background-repeat: repeat; */
}
.text-1{font-family: fantasy;}
.text-2{font-family: cursive;}
.text-3{font-family: sans-serif;}
.text-4{font-family: Verdana, Geneva, Tahoma, sans-serif;}
.hovertext-4{position: relative;}
.control{
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: -1000px;
  left: 75px;
  transition: all 0.7s;
}
.Scroll{
  overflow-x: scroll;
}
.Scroll::-webkit-scrollbar{
  width: 5px;
}
.Scroll::-webkit-scrollbar-thumb{
  background: #7b7b7b;
  border-radius: 10px;
}
.ScrollWeb{
  overflow-y: scroll;
}
.ScrollWeb::-webkit-scrollbar{
  width: 10px;
}
.ScrollWeb::-webkit-scrollbar-thumb{
  background: #c7c7c7;
  border-radius: 10px;
}
#manage:checked ~ .control{
  z-index: 1;
  opacity: 1;
  top: 0;
  transition: all 0.3s;
}
.formAddList{
  position: absolute;
  z-index: -1;
  opacity: 0;
  top:157px;
  left: 489px ;
  width: 400px;
  height: 239px;
  background: #dfdddd;
}
.display{
  position: absolute;
  z-index: -1;
  top: -800px;left: 0;
  width: 100%;
  opacity: 0;
  height: 100%;
  background: #dadada59;
}
#addList:checked ~ .formAddList{
  z-index: 3;
  opacity: 1;
}
#addList:checked ~ .display{
  top: 0;
  opacity: 1;
  z-index: 2;
}
.formCT{
  position: fixed;
  z-index: -1;
  opacity: 0;
  width: 400px;
  height: 239px;
  top: 24%;
  left: 39%;
  background: #dfdddd;
}
.formUpdateCT:checked ~ .formCT{
  z-index: 2;
  opacity: 1;
}
.display2{
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: -800px;
  left: 0;
  opacity: 0;
  background: #dadada59;
}
.formUpdateCT:checked ~ .display2{
  top: 0;
  opacity: 1;
  z-index: 1;
}
/* post */
.formAddPost{
  position: absolute;
  z-index: -1;
  opacity: 0;
  top:50px;
  left: 310px ;
  width: 750px;
  height: 539px;
  background: #dfdddd;
}
.displayPost{
  position: absolute;
  z-index: -1;
  top: -800px;left: 0;
  width: 100%;
  opacity: 0;
  height: 100%;
  background: #dadada59;
}
#addPost:checked ~ .formAddPost{
  z-index: 3;
  opacity: 1;
}
#addPost:checked ~ .displayPost{
  top: 0;
  opacity: 1;
  z-index: 2;
}
.detailPost{
  position: fixed;
  top: -1000px;
  z-index: -1;
  opacity: 0;
  width: 700px;
  height: 500px;
  top: 19%;
  left: 30%;
  background: #ffffff;
}
.inputdetail:checked ~ .detailPost{
  z-index: 2;
  opacity: 1;
}
.imageDetail{border-radius: 20px;}
.displayDetails{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #ffffff6a;
}
.inputdetail:checked ~ .displayDetails{
  z-index: 1;
  background: #3e3e3e6a;
}


/*  */
.formUpdatePost{
  position: fixed;
  z-index: -1;
  opacity: 0;
  top:9%;
  left: 27% ;
  width: 750px;
  height: 539px;
  background: #dfdddd;
}
.displayUpdatePost{
  z-index: -1;
  position: fixed;
  top: -100%;
  left: -10px;
  width: 100%;
  height: 100%;
  background: #dadada59;
}
.inputPost:checked ~ .formUpdatePost{
  z-index: 2;
  opacity: 1;
}
.inputPost:checked ~ .displayUpdatePost{
  z-index: 1;
  top: 0;
}
#uploadImage,#uploadImageUpdate{border: dashed 1px gray;}